body{
    flex-basis: 20rem;
    flex-grow: 1;
    min-width: 400px;
    background: linear-gradient(rgb(132, 255, 132),rgb(247, 157, 112));
    color: white;
}

header{
    background: linear-gradient(rgb(0, 174, 255),blue);
    margin: 1%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    flex-basis: 20rem;
    flex-grow: 1;
    min-width: 600px;
    height: 400px;
}

#logo{
    margin-top: 90px;
    height: 200px;
    border-radius: 50%;
    margin-left: 15px;
    flex-basis: 20rem;
    flex-grow: 1;
}

#main-text{
    color: black;
    float: left;
    font-family: monospace;
    margin-left: 10%;
    flex-basis: 20rem;
    flex-grow: 1;

}

#main-text-2{
    color: black;
    float: right;
    font-family: monospace;
    margin-right: 10%;
    flex-basis: 20rem;
    flex-grow: 1;

}

.formulario{
    margin: 15%;
    text-transform: capitalize;
    font-family: monospace;
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;
}

label input{
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    color: black;
    margin: 5px;
}

.formulario{
    flex-basis: 20rem;
    flex-grow: 1;
    min-width: 500px;

}

#listo{
    width: 40%;
    height: 50px;
    font-size: 120%;
    min-width: 70px;
    cursor:pointer;
}

.contenido{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    margin: 10%;
    border-top-left-radius: 10%;

}